<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Reorganizing_AlphabetizeMembersOfTheSameGroup"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_SkipRemoveAndSortUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Collapsing_CollapseSolutionWhenOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Collapsing_KeepSoloProjectExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfFileTrailingNewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_UpdateEndRegionDirectives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentWrapColumn" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateSingleLineMethods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentSkipWrapOnLastWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsMultiLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesMultiLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeMethods"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeInterfaces"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeCPlusPlus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeXAML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludePHP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeVB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeTypeScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeJSON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeJavaScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeSCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeLESS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeFSharp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludePowerShell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_ExclusionExpression" serializeAs="String">
                <value>\.Designer\.cs$||\\Migrations\\||\.Designer\.vb$||\.resx$||\.min\.css$||\.min\.js$</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>